#hello{color: navy;}
#lorem{color: #fb7d9e;}
#End{color: purple;}
#div{height: 300px;width: 400px;background-color: blue;opacity:0.5; }
#div2{height: 50px;width: 150px;background-color: yellow;}
#body{background-color:#fb7d9e;}
#soft{color:  darkblue;background-color: white;}
.clr{height:100px; width: 100px;display: inline-block;}
#color{ background-color: turquoise;}
#color2{background-color: steelblue;}
#color3{background-color: rgb(0, 140, 255);}
#img{height: 150px; width: 100px;}